@media only screen and (max-width: 981px) {
  .no-scroll {
    position: fixed;
    overflow: hidden;
    height: 100%;
  }
}
@media only screen and (max-width: 981px) {
  .auto-scroll {
    overflow-x: hidden!important;
    overflow-y: auto!important;
    -webkit-overflow-scrolling: touch;
  }
}
.accordian-menu .menu-title:hover {
  cursor: pointer;
}
.accordian-menu .menu-title .icon-arrow-top {
  display: inline-block;
  float: right;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: rotateZ(180deg);
}
.accordian-menu .menu-title.expand .icon-arrow-top {
  transform: rotateZ(0);
}
.accordian-menu .menu-child {
  -webkit-transition: max-height 0.3s ease-in-out;
  -o-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
}
.accordian-menu .menu-child.show-xs {
  max-height: 1000px;
}
.accordian-menu .menu-child.show-sm {
  max-height: 1000px;
}
@media only screen and (max-width: 981px) {
  .accordian-menu .menu-child.show-xs {
    max-height: 1000px;
  }
  .accordian-menu .menu-child.show-sm {
    max-height: 1000px;
  }
}
.text-input {
  padding: 0;
}
.panel-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #edf0f5;
  overflow: hidden;
}
.panel-wrapper > .panel-title {
  height: 65px;
  color: #b6c1cf;
  font-weight: normal;
  font-size: 18px;
  background-color: #323a45;
  text-align: center;
}
.panel-wrapper > .panel-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  box-sizing: border-box;
  height: 87px;
  background-color: #323a45;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header .container {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header .brand {
  padding-top: 20px;
}
.header .brand .logo {
  float: left;
  width: 175px;
}
.header .brand .logo .azure-logo {
  float: left;
  margin-right: 10px;
}
.header .brand .logo .azure-logo a {
  display: block;
  text-indent: -9999px;
  width: 164px;
  height: 24px;
  background-image: url("../img/logo-azure.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .header .brand .logo .azure-logo a {
    background-image: url("../img/logo-azure-2x.png");
    background-size: 164px 24px;
  }
}
.header .brand .logo .azure-carrier {
  float: left;
  padding-top: 10px;
}
.header .brand .logo .azure-carrier a {
  float: left;
  display: block;
  text-indent: -9999px;
  width: 71px;
  height: 12px;
  margin-top: 4px;
  margin-left: 6px;
  margin-right: 6px;
  background-repeat: no-repeat;
  background-image: url("../img/logo-azure-carrier.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .header .brand .logo .azure-carrier a {
    background-image: url("../img/logo-azure-carrier-2x.png");
    background-size: 71px 12px;
  }
}
.header .brand .logo .azure-carrier span {
  float: left;
  display: block;
  line-height: 20px;
  font-size: 12px;
  color: #5e6d81;
}
.header .brand .top-nav {
  float: right;
  padding-top: 13px;
  color: #b6c1cf;
}
.header .brand .top-nav .nav-toggle {
  display: block;
  float: left;
  color: #b6c1cf;
}
.header .brand .top-nav .nav-toggle:link {
  text-decoration: none;
}
.header .brand .top-nav .nav-toggle:visited {
  text-decoration: none;
}
.header .brand .top-nav .nav-toggle:hover {
  text-decoration: none;
}
.header .brand .top-nav .nav-toggle:active {
  text-decoration: none;
}
.header .brand .top-nav .nav-toggle .icon-navigation {
  font-size: 24px;
}
.header .brand .top-nav .nav-toggle .icon-close {
  font-size: 24px;
}
.header .brand .top-nav .nav-toggle:hover {
  color: #ffffff;
}
.header .brand .top-nav .nav-toggle:active {
  color: rgba(182, 193, 207, 0.6);
}
.header .brand .top-nav .search {
  display: block;
  float: left;
  margin-right: 20px;
  color: #b6c1cf;
}
.header .brand .top-nav .search:link {
  text-decoration: none;
}
.header .brand .top-nav .search:visited {
  text-decoration: none;
}
.header .brand .top-nav .search:hover {
  text-decoration: none;
}
.header .brand .top-nav .search:active {
  text-decoration: none;
}
.header .brand .top-nav .search .icon-search {
  font-size: 24px;
}
.header .brand .top-nav .search .icon-close {
  font-size: 24px;
}
.header .brand .top-nav .search:hover {
  color: #ffffff;
}
.header .brand .top-nav .search:active {
  color: rgba(182, 193, 207, 0.6);
}
.header .nav {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
  background-color: #404b59;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 13px;
  padding-left: 20px;
  padding-right: 20px;
}
.header .nav > ul > li {
  list-style: none;
}
.header .nav > ul > li > a {
  display: block;
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  color: #b6c1cf;
  border-bottom: 4px solid transparent;
}
.header .nav > ul > li > a:link {
  text-decoration: none;
}
.header .nav > ul > li > a:visited {
  text-decoration: none;
}
.header .nav > ul > li > a:hover {
  text-decoration: none;
}
.header .nav > ul > li > a:active {
  text-decoration: none;
}
.header .nav > ul > li > a:hover {
  color: #00a3d9;
}
.header .nav > ul > li > .panel-wrapper {
  -webkit-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  visibility: hidden;
  left: 100%;
}
.header .nav > ul > li > .panel-wrapper.show {
  left: 0;
  visibility: visible;
}
.header .nav > ul > li > .panel-wrapper > .panel-title {
  position: relative;
}
.header .nav > ul > li > .panel-wrapper > .panel-title h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 65px;
  font-size: inherit;
  font-weight: inherit;
}
.header .nav > ul > li > .panel-wrapper > .panel-title a {
  color: #b6c1cf;
}
.header .nav > ul > li > .panel-wrapper > .panel-title a:link {
  text-decoration: none;
}
.header .nav > ul > li > .panel-wrapper > .panel-title a:visited {
  text-decoration: none;
}
.header .nav > ul > li > .panel-wrapper > .panel-title a:hover {
  text-decoration: none;
}
.header .nav > ul > li > .panel-wrapper > .panel-title a:active {
  text-decoration: none;
}
.header .nav > ul > li > .panel-wrapper > .panel-title a .icon-close {
  display: block;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -10px;
  font-size: 24px;
}
.header .nav > ul > li > .panel-wrapper > .panel-title a:hover {
  color: #ffffff;
}
.header .nav > ul > li > .panel-wrapper > .panel-title a:active {
  color: rgba(182, 193, 207, 0.6);
}
.header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu.accordian-menu > li {
  border-bottom: 1px solid #b6c1cf;
}
.header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu.accordian-menu > li:last-child {
  border-bottom: none;
}
.header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu.accordian-menu > li:first-child.single-link {
  border-bottom: none;
}
.header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu.accordian-menu > li > a .icon {
  width: 20px;
  text-indent: 0;
  display: block;
  font-size: 20px;
  line-height: 32px;
  float: right;
  margin-right: 15px;
}
.header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li {
  list-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > a {
  display: block;
  color: #89919c;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  text-indent: 20px;
}
.header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > a:link {
  text-decoration: none;
}
.header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > a:visited {
  text-decoration: none;
}
.header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > a:hover {
  text-decoration: none;
}
.header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > a:active {
  text-decoration: none;
}
.header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > a.no-child {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #323a45;
  background-color: #ffffff;
  text-indent: 20px;
  border-top: 1px solid rgba(182, 193, 207, 0.6);
  border-bottom: 1px solid rgba(182, 193, 207, 0.6);
}
.header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > a.no-child:hover {
  color: #00a3d9;
}
.header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > a.no-child:active {
  color: #00a3d9;
}
.header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl {
  margin-top: 0;
  margin-bottom: 0;
}
.header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl dt > a {
  line-height: 40px;
  font-size: 14px;
  background-color: #ffffff;
  text-indent: 20px;
  border-top: 1px solid rgba(182, 193, 207, 0.6);
  display: block;
  color: #323a45;
}
.header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl dt > a:link {
  text-decoration: none;
}
.header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl dt > a:visited {
  text-decoration: none;
}
.header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl dt > a:hover {
  text-decoration: none;
}
.header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl dt > a:active {
  text-decoration: none;
}
.header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl dt > a:hover {
  color: #00a3d9;
}
.header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl dt > a:active {
  color: #00a3d9;
}
.header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl dt:nth-last-of-type(1) a {
  border-bottom: 1px solid rgba(182, 193, 207, 0.6);
}
.header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl dd {
  display: none;
}
.header .nav > ul > li.current > a {
  color: #ffffff;
  font-weight: 500;
}
.header .nav > ul > li.current > a span {
  display: inline-block;
  height: 45px;
  line-height: 45px;
  border-bottom: 4px solid #00a3d9;
}
.header .nav .portal-link {
  display: block;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 45px;
  font-size: 14px;
  vertical-align: middle;
  border-top: 1px solid #303c4a;
  color: #b6c1cf;
  background-color: #404b59;
}
.header .nav .portal-link:link {
  text-decoration: none;
}
.header .nav .portal-link:visited {
  text-decoration: none;
}
.header .nav .portal-link:hover {
  text-decoration: none;
}
.header .nav .portal-link:active {
  text-decoration: none;
}
.header .nav .portal-link .icon-portal {
  font-size: 18px;
  display: block;
  margin-right: 5px;
  float: left;
  height: 45px;
  line-height: 45px;
}
.header .nav .portal-link:hover {
  color: #ffffff;
}
.header .nav.show {
  max-height: 406px;
}
.header .search-panel {
  margin-left: -20px;
  margin-right: -20px;
  background-color: #edf0f5;
  position: absolute;
  top: 87px;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-in-out;
  -o-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
}
.header .search-panel .container .search-input {
  padding-top: 20px;
  padding-bottom: 30px;
}
.header .search-panel .container .search-input .input-wrapper {
  position: relative;
  background-color: #ffffff;
  border: 1px solid rgba(182, 193, 207, 0.6);
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  height: 42px;
}
.header .search-panel .container .search-input .input-wrapper:hover {
  border: 1px solid #00a3d9;
}
.header .search-panel .container .search-input .input-wrapper .text-input {
  position: absolute;
  border: none;
  display: block;
  background-color: transparent;
  width: 100%;
  left: 0;
  top: 9px;
  color: #b6c1cf;
  font-size: 14px;
  line-height: 22px;
  text-indent: 40px;
}
.header .search-panel .container .search-input .input-wrapper .text-input:focus {
  color: #323a45;
  outline: 0;
}
.header .search-panel .container .search-input .input-wrapper .text-input::-ms-clear {
  display: none;
}
.header .search-panel .container .search-input .input-wrapper .text-input::-moz-placeholder {
  color: #323a45;
  opacity: 1;
}
.header .search-panel .container .search-input .input-wrapper .text-input:-ms-input-placeholder {
  color: #323a45;
}
.header .search-panel .container .search-input .input-wrapper .text-input::-webkit-input-placeholder {
  color: #323a45;
}
.header .search-panel .container .search-input .input-wrapper .icon {
  position: absolute;
  top: 11px;
  left: 10px;
  font-size: 18px;
  display: block;
  color: #b6c1cf;
}
.header .search-panel .container .search-input .search-cancel {
  height: 42px;
  vertical-align: middle;
}
.header .search-panel .container .search-input .search-cancel .btn {
  color: #89919c;
  line-height: 40px;
}
.header .search-panel .container .search-input .search-cancel .btn:hover {
  color: #00a3d9;
}
.header .search-panel .container .search-input .search-cancel .btn:active {
  color: #00a3d9;
}
.header .search-panel .container h3 {
  font-weight: normal;
  font-size: 14px;
  color: #89919c;
  margin-top: 10px;
  margin-bottom: 15px;
}
.header .search-panel .container .hot-tag {
  margin-left: -5px;
  margin-right: -5px;
  padding-bottom: 20px;
}
.header .search-panel .container .hot-tag [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
.header .search-panel .container .hot-tag .btn {
  color: #323a45;
  border: 1px solid rgba(182, 193, 207, 0.6);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}
.header .search-panel .container .hot-tag .btn:hover {
  color: #00a3d9;
  background-color: rgba(255, 255, 255, 0.6);
}
.header .search-panel .container .hot-tag .btn:active {
  color: #00a3d9;
  background-color: rgba(255, 255, 255, 0.6);
}
.header .search-panel .container .search-history {
  margin-left: -30px;
  margin-right: -30px;
}
.header .search-panel .container .search-history ul li {
  list-style: none;
}
.header .search-panel .container .search-history ul li a {
  display: block;
  font-size: 14px;
  line-height: 55px;
  padding-left: 20px;
  padding-right: 20px;
  color: #323a45;
  background-color: #ffffff;
  border-top: 1px solid #b6c1cf;
}
.header .search-panel .container .search-history ul li a:link {
  text-decoration: none;
}
.header .search-panel .container .search-history ul li a:visited {
  text-decoration: none;
}
.header .search-panel .container .search-history ul li a:hover {
  text-decoration: none;
}
.header .search-panel .container .search-history ul li a:active {
  text-decoration: none;
}
.header .search-panel .container .search-history .clear-btn {
  color: #89919c;
  border-top: 1px solid #b6c1cf;
  border-bottom: 1px solid #b6c1cf;
  line-height: 75px;
  background-color: #ffffff;
}
.header .search-panel .container .search-history .clear-btn:hover {
  color: #00a3d9;
}
.header .search-panel .container .search-history .clear-btn:active {
  color: #00a3d9;
}
.header .search-panel.show {
  overflow-y: auto;
  max-height: 1000px;
}
@media only screen and (min-width: 449px) {
  .header {
    height: 64px;
  }
  .header .brand .logo {
    width: inherit;
  }
  .header .brand .logo .azure-carrier {
    padding-top: 5px;
  }
  .header .brand .top-nav {
    padding-top: 0;
  }
  .header .nav {
    margin-top: 19px;
  }
  .header .search-panel {
    top: 64px;
  }
}
.header.hide {
  top: -87px;
  overflow: hidden;
}
@media only screen and (min-width: 449px) {
  .header.hide {
    top: -64px;
    overflow: hidden;
  }
}
@media only screen and (min-width: 768px) {
  .header.hide {
    top: -64px;
    overflow: hidden;
  }
}
@media only screen and (min-width: 980px) {
  .header.hide {
    top: 0;
    overflow: inherit;
  }
}
@media only screen and (min-width: 768px) {
  .header {
    height: 64px;
  }
  .header .brand .logo {
    width: inherit;
  }
  .header .brand .logo .azure-carrier {
    padding-top: 5px;
  }
  .header .brand .top-nav {
    padding-top: 0;
  }
  .header .nav {
    margin-top: 19px;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li {
    list-style: none;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li.single-link {
    width: 50%;
    padding-right: 5px;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > a.no-child {
    border-top: 1px solid rgba(182, 193, 207, 0.6);
    border-bottom: 1px solid rgba(182, 193, 207, 0.6);
    border-right: 1px solid rgba(182, 193, 207, 0.6);
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl {
    overflow: hidden;
    margin-left: -6px;
    margin-right: -6px;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl dt {
    width: 50%;
    float: left;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl dt > a {
    border-right: 1px solid rgba(182, 193, 207, 0.6);
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl dt:nth-last-of-type(2) a {
    border-bottom: 1px solid rgba(182, 193, 207, 0.6);
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl.even-child dt:nth-last-of-type(3) {
    border-bottom: 1px solid rgba(182, 193, 207, 0.6);
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl.even-child dt:nth-last-of-type(1) a {
    border-top: none;
  }
  .header .search-panel {
    top: 64px;
    width: inherit;
  }
}
@media only screen and (min-width: 980px) {
  .header {
    height: 100px;
  }
  .header .container {
    position: relative;
  }
  .header .brand {
    padding-top: 20px;
  }
  .header .brand .logo .azure-logo a img {
    height: 24px;
  }
  .header .brand .logo .azure-carrier {
    padding-top: 4px;
  }
  .header .brand .logo .azure-carrier a {
    height: 12px;
  }
  .header .brand .logo .azure-carrier span {
    font-size: 12px;
    line-height: 22px;
  }
  .header .brand .top-nav .nav-toggle {
    display: none;
  }
  .header .brand .top-nav .search {
    display: block;
    float: left;
    margin-right: 70px;
    line-height: 24px;
    color: #b6c1cf;
  }
  .header .brand .top-nav .search:link {
    text-decoration: none;
  }
  .header .brand .top-nav .search:visited {
    text-decoration: none;
  }
  .header .brand .top-nav .search:hover {
    text-decoration: none;
  }
  .header .brand .top-nav .search:active {
    text-decoration: none;
  }
  .header .brand .top-nav .search:hover {
    color: #ffffff;
  }
  .header .brand .top-nav .search .icon-search {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }
  .header .nav {
    display: block;
    max-height: inherit;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: inherit;
    box-sizing: border-box;
    height: 54px;
    padding-top: 24px;
  }
  .header .nav > ul > li {
    list-style: none;
    float: left;
    margin-right: 30px;
  }
  .header .nav > ul > li > a {
    font-size: 14px;
    line-height: 18px;
    height: 30px;
  }
  .header .nav > ul > li > a:hover {
    color: #00a3d9;
  }
  .header .nav > ul > li > a.active {
    color: #ffffff;
    font-weight: 500;
    border-bottom: 4px solid #00a3d9;
  }
  .header .nav > ul > li.current > a {
    color: #ffffff;
    font-weight: 500;
  }
  .header .nav > ul > li.current > a span {
    line-height: 18px;
    height: 30px;
    border-bottom: 4px solid #00a3d9;
  }
  .header .nav > ul > li > .panel-wrapper {
    -webkit-transition: max-height 0.3s ease-in-out;
    -o-transition: max-height 0.3s ease-in-out;
    transition: max-height 0.3s ease-in-out;
    top: 100px;
    width: 720px;
    left: 0;
    padding-left: 20px;
    background-color: inherit;
    max-height: 0;
    z-index: -1;
  }
  .header .nav > ul > li > .panel-wrapper .panel-title {
    display: none;
  }
  .header .nav > ul > li > .panel-wrapper.show {
    z-index: auto;
    max-height: 1000px;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content {
    background-color: #edf0f5;
    padding-top: 0;
    padding-bottom: 0;
    width: 700px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu {
    position: relative;
    width: 200px;
    padding-top: 20px;
    background-color: #3f4b59;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu.accordian-menu > li {
    border-bottom: none;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu.accordian-menu > li > a > .icon {
    float: right;
    line-height: 45px;
    font-size: 20px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-right: 0;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu.tab-nav > li {
    -webkit-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu.tab-nav > li:hover {
    background-color: #323a45;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu.tab-nav > li.active {
    background-color: #00a3d9;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu.tab-nav > li.active > a {
    color: #ffffff;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li {
    padding-top: 0;
    padding-bottom: 0;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li.divide-line {
    border-bottom: 1px solid #323a45;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li.single-link {
    border: none;
    width: auto;
    padding-right: 0;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li.single-link > a {
    text-indent: 0;
    color: #b6c1cf;
    background-color: inherit;
    border: none;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > a {
    text-indent: 0;
    height: 45px;
    line-height: 45px;
    color: #b6c1cf;
    background-color: inherit;
    padding-left: 40px;
    padding-right: 40px;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl {
    position: absolute;
    width: 500px;
    top: 0;
    left: 200px;
    margin-left: 0;
    margin-right: 0;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    max-height: inherit;
    background-color: #edf0f5;
    padding: 30px;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl.menu-child {
    z-index: -1;
    opacity: 0;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl.menu-child.show-md {
    opacity: 1;
    z-index: inherit;
    max-height: inherit;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl.full-width {
    left: 0;
    width: 700px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid #cccccc;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl > dt {
    padding-left: 0;
    padding-right: 0;
    width: auto;
    float: inherit;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl > dt > a {
    color: #323a45;
    text-indent: 0;
    border: none;
    background-color: inherit;
    margin-bottom: 0;
    line-height: 20px;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl > dt > a:hover {
    color: #00a3d9;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl > dt > a:active {
    background-color: transparent;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl > dt.mouse-hover a {
    color: #00a3d9;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl > dt:nth-last-of-type(3) a {
    border-bottom: none;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl > dt:nth-last-of-type(2) a {
    border-bottom: none;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl > dt:nth-last-of-type(1) a {
    border-bottom: none;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl > dd {
    font-size: 12px;
    display: block;
    line-height: 20px;
    color: #89919c;
    margin-left: inherit;
    margin-bottom: 15px;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl > dd:hover {
    cursor: pointer;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl > dd.divide-line {
    border-bottom: 1px solid #cccccc;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li > dl.even-child dt:nth-last-of-type(3) {
    border-bottom: none;
  }
  .header .nav > ul > li > .panel-wrapper > .panel-content > .sub-menu > li .gradient-mask {
    position: absolute;
    bottom: 40px;
    left: 200px;
    width: 460px;
    height: 20px;
    background: linear-gradient(rgba(237, 240, 245, 0), #edf0f5);
  }
  .header .nav .portal-link {
    position: absolute;
    right: 20px;
    top: 21px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: inherit;
    line-height: 24px;
    border-top: 0;
  }
  .header .nav .portal-link .icon-portal {
    line-height: 24px;
    height: 24px;
  }
  .header .search-panel {
    background-color: transparent;
    top: 20px;
    right: 105px;
    width: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .header .search-panel .container {
    width: 200px;
    padding-left: 0;
    padding-right: 0;
  }
  .header .search-panel .container .search-input {
    width: 200px;
    height: 28px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .header .search-panel .container .search-input .input-wrapper {
    padding-left: 6px;
    padding-right: 6px;
    height: 28px;
    padding-top: 0;
    padding-bottom: 0;
    width: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    background-color: transparent;
    border: 1px solid transparent;
  }
  .header .search-panel .container .search-input .input-wrapper .icon-search {
    top: 4px;
    left: 6px;
  }
  .header .search-panel .container .search-input .input-wrapper .text-input {
    top: 2px;
    left: 28px;
    height: 22px;
    text-indent: 0;
    width: 160px;
  }
  .header .search-panel.show {
    overflow: hidden;
    width: 200px;
  }
  .header .search-panel.show .container .search-input .input-wrapper {
    width: 200px;
    border: 1px solid transparent;
    background-color: #ffffff;
  }
}
.content {
  margin-top: 87px;
}
.content .container {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.content .content-blog {
  padding-top: 20px;
  padding-bottom: 40px;
  color: #5e6d81;
}
.content .content-blog h1 {
  font-size: 32px;
  font-weight: normal;
}
.content .content-blog h2 {
  font-size: 20px;
  font-weight: normal;
}
.content .content-blog p {
  font-size: 14px;
}
.content .content-blog .grid-demo {
  margin-bottom: 15px;
}
.content [class^=col-] {
  color: #333;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(239, 19, 50, 0.3);
  border: 1px solid rgba(239, 19, 50, 0.1);
}
@media only screen and (min-width: 768px) {
  .content {
    margin-top: 64px;
  }
}
@media only screen and (min-width: 980px) {
  .content {
    margin-top: 100px;
  }
}
.footer {
  background-color: #323a45;
  padding-top: 20px;
}
.footer .footer-navigation > .container > ul {
  overflow: hidden;
}
.footer .footer-navigation > .container > ul > li {
  list-style: none;
  border-bottom: 1px solid #3f4957;
}
.footer .footer-navigation > .container > ul > li:last-child {
  border-bottom: none;
}
.footer .footer-navigation > .container > ul > li > .footer-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 54px;
  font-weight: normal;
  color: #89919c;
}
.footer .footer-navigation > .container > ul > li > .footer-title .icon-arrow-top {
  line-height: 54px;
  font-size: 24px;
}
.footer .footer-navigation > .container > ul > li > ul {
  -webkit-transition: max-height 0.3s ease-in-out;
  -o-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
}
.footer .footer-navigation > .container > ul > li > ul > li {
  list-style: none;
  margin-bottom: 8px;
}
.footer .footer-navigation > .container > ul > li > ul > li a {
  color: #ffffff;
  display: block;
  font-size: 14px;
  line-height: 22px;
  vertical-align: middle;
}
.footer .footer-navigation > .container > ul > li > ul > li a:link {
  text-decoration: none;
}
.footer .footer-navigation > .container > ul > li > ul > li a:visited {
  text-decoration: none;
}
.footer .footer-navigation > .container > ul > li > ul > li a:hover {
  text-decoration: none;
}
.footer .footer-navigation > .container > ul > li > ul > li a:active {
  text-decoration: none;
}
.footer .footer-navigation > .container > ul > li > ul > li a:hover {
  color: #00a3d9;
}
.footer .footer-navigation > .container > ul > li > ul > li a .icon {
  display: block;
  float: left;
  margin-right: 8px;
  margin-top: 2px;
  font-size: 18px;
}
.footer .footer-navigation > .container > ul > li > ul.show-xs {
  margin-bottom: 15px;
  max-height: 180px;
}
.footer .footer-navigation > .container > ul > li > ul.show-sm {
  margin-bottom: 15px;
  max-height: 180px;
}
.footer .footer-bottom {
  margin-top: 15px;
  padding-bottom: 15px;
}
.footer .footer-bottom .footer-infomation {
  border-top: 1px solid #5e6d81;
  padding-top: 15px;
  color: #ffffff;
  font-size: 12px;
}
.footer .footer-bottom .footer-infomation p {
  margin: 0;
}
.footer .footer-bottom .footer-infomation p a {
  color: #ffffff;
  line-height: 24px;
  display: block;
  float: left;
}
.footer .footer-bottom .footer-infomation p a:link {
  text-decoration: none;
}
.footer .footer-bottom .footer-infomation p a:visited {
  text-decoration: none;
}
.footer .footer-bottom .footer-infomation p a:hover {
  text-decoration: none;
}
.footer .footer-bottom .footer-infomation p a:active {
  text-decoration: none;
}
.footer .footer-bottom .footer-infomation p a:hover {
  color: #00a3d9;
}
.footer .footer-bottom .footer-infomation p span {
  line-height: 24px;
}
.footer .footer-bottom .footer-infomation .footer-help a {
  margin-right: 25px;
}
.footer .footer-bottom .footer-infomation .copyright {
  margin-top: 5px;
}
.footer .footer-bottom .footer-infomation .copyright span {
  display: block;
  float: left;
  margin-left: 8px;
  margin-right: 8px;
}
.footer .footer-bottom .footer-infomation .copyright .footer-logo {
  overflow: hidden;
  height: 24px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: left center;
}
.footer .footer-bottom .footer-infomation .copyright .footer-logo.window-azure {
  width: 92px;
  background-image: url("../img/logo-azure-footer.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .footer .footer-bottom .footer-infomation .copyright .footer-logo.window-azure {
    background-image: url("../img/logo-azure-footer-2x.png");
    background-size: 92px 11px;
  }
}
.footer .footer-bottom .footer-infomation .copyright .footer-logo.carrier {
  width: 73px;
  background-image: url("../img/logo-azure-carrier-footer.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .footer .footer-bottom .footer-infomation .copyright .footer-logo.carrier {
    background-image: url("../img/logo-azure-carrier-footer-2x.png");
    background-size: 73px 12px;
  }
}
.footer .footer-bottom .footer-infomation .copyright .footer-logo.microsoft {
  width: 70px;
  background-image: url("../img/logo-microsoft.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .footer .footer-bottom .footer-infomation .copyright .footer-logo.microsoft {
    background-image: url("../img/logo-microsoft-2x.png");
    background-size: 70px 14px;
  }
}
@media only screen and (min-width: 980px) {
  .footer .footer-navigation > .container > ul > li {
    width: 25%;
    float: left;
    border-bottom: none;
  }
  .footer .footer-navigation > .container > ul > li .footer-title .icon-arrow-top {
    display: none;
  }
  .footer .footer-navigation > .container > ul > li .footer-title:hover {
    cursor: default;
  }
  .footer .footer-navigation > .container > ul > li > ul {
    margin-bottom: 15px;
    max-height: inherit;
  }
  .footer .footer-bottom .footer-infomation {
    border-top: 1px solid #5e6d81;
  }
  .footer .footer-bottom .footer-infomation .footer-help {
    float: left;
  }
  .footer .footer-bottom .footer-infomation .copyright {
    float: right;
    margin-top: 0;
  }
}
/*# sourceMappingURL=common.css.map */