//#Content
.content{
    margin-top: @header-height-xs;
    .container{
       .do-animation; 
    }     
//  .content-blog{
//      padding-top: 20px;
//      padding-bottom: 40px;
//      color: @blue-gray-light;
//      h1{
//          font-size: 32px;
//          font-weight: normal;
//      }
//      h2{
//          font-size: @subtitle-font-size;
//          font-weight: normal;
//      }
//      p{
//          font-size: @base-font-size;
//      }
//      .grid-demo{
//          margin-bottom: 15px;
//      }
//  }
//  //Responsive grid demo style
//  [class^=col-] {
//      color: #333;
//      text-align: center;
//      padding-top: 10px;
//      padding-bottom: 10px;
//      background-color: rgba(239, 19, 50, .3);
//      border: 1px solid rgba(239, 19, 50, .1);
//  }
}

@media @header-logo-breakpoint-query{
    .content{
        margin-top: @header-height-sm;
    }
}

//##Tablet screen
@media @tablet-screen{
    .content{
        margin-top: @header-height-sm;
    }            
}
//##Desktop screen
@media @desktop-screen{
    .content{
        margin-top: 0;
    }             
}