//#Utilities

//##Body Scroll
body{
    overflow-x: hidden;
}
@media @mobile-devices-screen{
    .no-scroll{
        position: fixed;
        overflow: hidden;
        height: 100%;
    }    
}

//##clear browser default link style
.clear-link-style(){
    &:link{
        text-decoration: none;
    }
    &:visited{
        text-decoration: none;
    }
    &:hover{
        text-decoration: none;
    }
    &:active{
        text-decoration: none;
    }
}

a{
    .clear-link-style;
}

//##Remove ul default padding and margin.

.reset-ul-default-style(){
    ul{
        margin: 0;
        padding: 0;
    }    
}


//##Remove the touch highlight 
.remove-tab-highlight(){
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

//##Remove the touch delay 
.remove-pointer-event(){
    -ms-touch-action: manipulation;
    touch-action: manipulation;    
}

//##Transation
.transiton(@transition){
  -webkit-transition: @transition;
       -o-transition: @transition;
          transition: @transition;    
}

//##Rotate
.rotate(@degrees) {
  -webkit-transform: rotate(@degrees);
      -ms-transform: rotate(@degrees); // IE9 only
       -o-transform: rotate(@degrees);
          transform: rotate(@degrees);
}

//##Animation 
.do-animation(@property: all, @duration: .3s, @time-function: ease-in-out){
   .transiton(@property @duration @time-function);
}

//##Retina image
.img-retina(@file-1x; @file-2x; @width-1x; @height-1x) {
  background-image: url("@{file-1x}");

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: url("@{file-2x}");
    background-size: @width-1x @height-1x;
  }
}

// Placeholder text
.placeholder(@color: @input-color-placeholder) {
  // Firefox
  &::-moz-placeholder {
    color: @color;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
  &:-ms-input-placeholder { color: @color; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: @color; } // Safari and Chrome
}

//##Media query
@mobile-devices-screen: ~"only screen and (max-width: @{screen-md-max})";
@tablet-screen: ~"only screen and (min-width: @{screen-sm})";
@desktop-screen: ~"only screen and (min-width: @{screen-md})";
@large-desktop-screen: ~"only screen and (min-width: @{screen-lg})";

@header-logo-breakpoint-query: ~"only screen and (min-width: @{header-breakpoint})";

//#$Auto Scroll
@media @mobile-devices-screen{
    .auto-scroll{
        overflow-x: hidden!important;
        overflow-y: auto!important;
        //-webkit-overflow-scrolling: touch;         
//      &.scroll-y{
//
//      }
    }
}

//#$Accordian Menu
.accordian-menu{
    .remove-tab-highlight;
    .menu-title{
        .remove-pointer-event;
        &:hover{
            cursor: pointer;
        }
        .icon-arrow-top{
            display: inline-block;
            float: right;
            .do-animation;
            //transform: rotateZ(180deg); 
        }
        &.expand{
           .icon-arrow-top{
                transform: rotateZ(180deg);
           } 
        }       
    }
    .menu-child{
        .do-animation(max-height);
        max-height: 0;
        overflow: hidden;
        &.show-xs{
            max-height: @auto-height-max;
        }
        &.show-sm{
            max-height: @auto-height-max;
        }    
    }
}

@media @mobile-devices-screen{
    .accordian-menu{
        .menu-child{
            &.show-xs{
                max-height: @auto-height-max;
            }
            &.show-sm{
                max-height: @auto-height-max;
            }    
        }        
    }  
}

//#Text input
.text-input{
    padding: 0;
}

//#$Panel
.panel-wrapper{  
    //bottom: 0;
    position: absolute;
    background-color: @header-child-menu-panel-bg-color;
    overflow: hidden;
    .panel-title{
        position: relative;
//      top: 0;
        height: 65px;
        color: @ice-blue;
        font-weight: normal;
        font-size: @font-size-large;
        background-color: @blue-gray-dark;
        text-align: center; 
        h3{
            margin-top: 0;
            margin-bottom: 0;
            line-height: 65px;
            font-size: inherit;
            font-weight: inherit;
        }
        a{
            position: absolute;
            top: 18px;
            right: 20px;
            display: block;
            height: 24px;
            width: 24px;
            .clear-link-style;
            .remove-pointer-event;
            color: @ice-blue;
            .icon-close{
                font-size: @web-icon-normal;
            }
            &:hover{
                color: @white;
            }
            &:active{
                color: @ice-blue-opacity60;
            }                            
        }           
    }
    .panel-content{
        width: 100%;
//      position: absolute;
//      top: 65px;
        padding-top: 30px;
        padding-bottom: 30px;
        //background-color: @header-child-menu-panel-bg-color;
    }
}
@media @mobile-devices-screen{
    .panel-wrapper{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;        
        .panel-title{
            width: 100%;
        }  
    }  
}

//#$Dialog 
.dialog-container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    //z-index: @zindex-hide;
    visibility: hidden;
    .dialog-content{
        .do-animation(opacity);
        position: relative;
        top: 50%;
        left: 50%; 
        //width: 350px;
        //height: 450px;
        //margin-left: -175px;
        //margin-top: -275px;
        background-color: @white;
        box-shadow: #333 0 2px 10px;    
        border-radius: @border-radius-small;
        opacity: 0; 
        .dialog-header{
            height: 50px;
            .close-btn{
                display: block;
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: @web-icon-normal;
                color: @black;
                .icon{
                    display: block;
                }
                &:hover{
                    color: @ui-section-blue;
                }
            }
        }
        .dialog-body{
            padding-left: 10px;
            padding-right: 10px;    
        }          
    }
    .dialog-mask{
        .do-animation(opacity);
        position: fixed;
        top: 0;
        left: 0;         
        width: 100%;
        height: 100%;
        opacity: 0;     
        background-color: rgba(0, 0, 0, .75);        
    }
    &.open{
        z-index: @zindex-dialog;
        visibility: visible;
        .dialog-content{
            opacity: 1;
        }        
        .dialog-mask{
            opacity: 1;
        }        
    }
}
